/* 
    Document   : theme
    Created on : 4 avr. 2017, 21:17:26
    Author     : gassen
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

